.resultWrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding:40px 3%;
}
.card {
    width:31%;
    padding:20px;
    margin-bottom: 25px;
    h3 {
        font-family: $headerFont;
        font-size: 30px;
        
    }
    h4 {
        font-size: 22px;
    }
    a:hover {
        color:$secondaryColor;
    }
}
.basicInfo,
.eventTime,
.eventVenue,
.description,
.eventDetails {
    margin-bottom: 15px;
}
.description {
    line-height: 1.28;
    img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
}
.readMoreBtn {
    margin-top: 15px;
    color:$black;

}
.questionWord,
.eventTime span {
    font-family: $headerFont;
}

.questionWord {
    font-size: 20px;
    margin-bottom: 5px;
}
.eventTime span {
    color:$accentColor;
}
.findMore a {
    color:$accentColor;
}
.arrowUp {
    @include color(inherit,$secondaryColor);
    position: fixed;
    display: none;
    right: 20px;
    bottom: 30px;
    font-size: 40px;
    opacity: 1;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.25);
    }
}
@media (max-width:1100px) {
    .card {
        width: 49%;
        padding:40px;    
    }
}
@media (max-width:1000px) {
    .card {
        padding:20px;
    }
    
}
@media (max-width:700px) {
    .card {
        width: 100%;
        h3 {
        font-family: $headerFont;
        font-size: 25px;
        
        }
        h4 {
            font-size: 20px;
        }
    }
    .questionWord {
    font-size: 18px;
    margin-bottom: 2px;
    }
    .basicInfo,
    .eventTime,
    .eventVenue,
    .description,
    .eventDetails {
        margin-bottom: 8px;
    }
    .readMoreBtn {
    margin-top: 8px;
    }
}
@media (max-width:700px) {
    .card h4 {
        font-size: 18px;
    }
    .arrowUp  {
        right: 5px;
        bottom: 15px;
        font-size: 30px;
    }
}