//Our Thanks to
//Photo by Zhen Hu on Unsplash for Header Background in search Page

$white: #efebe5;
// $primaryColor: #416bff;
$secondaryColor:#454d60;
// $activeColor: #7c9da5;
$activeColor: #cdcdcd;
$black: #0f0a05;

$headerFont: 'Bree Serif', serif;
$bodyFont: 'Open Sans', sans-serif;

// @mixin flex($flex-direction, $justify-content, $align-items, $text-align) {
//     display: flex;
//     flex-direction: $flex-direction;
//     justify-content: $justify-content;
//     align-items: $align-items;
//     text-align: $text-align;
// }
@mixin color($backgroundColor, $fontColor) {
    background-color: $backgroundColor;
    color: $fontColor;
}
html {
    font-size: 125%;
}

body {
    @include color($white, $black);
    font-family: $bodyFont;
}

// ul {
//   margin: 0;
//   padding: 0;
// }
// li {
//   list-style: none;
// }

h1,
h2 {
    font-family: $headerFont;
}
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color:$activeColor;
}
img {
    width: 30%;
    max-width: 30%;
    border-radius: 10px;
    display: block;
}
.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5%;
}
