html {
  font-size: 18px; }

body {
  background-color: #fffaf4;
  color: #0f0a05;
  font-family: "Open Sans", sans-serif; }

h1,
h2 {
  font-family: "Bree Serif", serif; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  width: 30%;
  max-width: 30%;
  border-radius: 10px;
  display: block; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5%; }

header {
  background-image: url("../../assets/headerBackground.jpg");
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 50px); }

.headerContent {
  width: 80%;
  padding: 25px;
  background: rgba(255, 255, 255, 0.7); }

h1 {
  font-size: 70px; }

a.connect {
  font-size: 30px; }
  a.connect:hover {
    color: #454d60; }

.textInput input {
  border: none;
  border-bottom: 1px solid #454d60;
  padding: 5px 3px;
  background-color: inherit; }
  .textInput input:first-of-type {
    margin-bottom: 15px; }
  .textInput input:focus {
    background-color: #cdcdcd; }

.btn-outline-dark {
  margin-bottom: 10px;
  padding: 7px 12px; }
  .btn-outline-dark:hover {
    background-color: #0f0a05;
    color: #fffaf4;
    border-color: #0f0a05; }

@media (max-width: 620px) {
  h1 {
    line-height: 1;
    font-size: 50px; } }

@media (max-width: 500px) {
  .headerContent {
    width: 90%;
    padding: 15px; }
    .headerContent p,
    .headerContent [type="text"] {
      font-size: 18px; } }

@media (max-width: 400px) {
  .textInput input {
    width: 85%; } }

.resultWrapper {
  max-width: 1600px;
  padding: 30px 3%; }

.card {
  width: 31%;
  padding: 20px;
  margin-bottom: 25px; }
  .card h3 {
    font-family: "Bree Serif", serif;
    font-size: 30px; }
  .card h4 {
    font-size: 22px; }
  .card a:hover {
    color: #454d60; }

.basicInfo,
.eventTime,
.eventVenue,
.description,
.eventDetails {
  margin-bottom: 15px; }

.truncated {
  max-height: 350px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.readMoreBtn {
  margin-top: 15px;
  color: #0f0a05; }

.questionWord,
.eventTime span {
  font-family: "Bree Serif", serif; }

.questionWord {
  font-size: 20px; }

.eventTime span {
  color: #681310; }

.findMore {
  color: #681310; }

footer {
  background-color: #0f0a05;
  color: #fffaf4;
  text-align: center;
  height: 50px;
  padding: 5px 0; }
  footer p {
    line-height: 1; }
  footer a:hover {
    color: #cdcdcd; }
